/* Import font from font.css file */
@import url(./fonts.css);

/* CSS VARIABLES */
@import url(./partials/_variables.css);

/* Global CSS */
@import url(./partials/_global.css);

/* start HNAVIGATION  */


.header .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header .main-menu .navbar .header_logo {
    width: 115px;
}

.header .main-menu .navbar {
    padding: 1rem 20rem;
}

.header .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--primary-font);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end NAVIGATION */

/* start Banner area */
.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 20%;
    z-index: -1000;
}

.site-main .site-banner .site-banner__title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-banner__title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .site-banner__title h1 {
    font-size: 5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 90rem;
}


/* end Banner area */

/* start About area */
.site-main .about-area {
    padding: 12rem 5rem;
}

.site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 49px/60px var(--primary-font);
    letter-spacing: 15px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
}

/* End About area */

/* start Services Area*/
.site-main .services-area {
    padding: 7rem 2rem;
}

.site-main .services-area .services.title {
    padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
    font-size: 35px;
}

.site-main > .services-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover {
    box-shadow: var(--box-shadow);
}


/* end Services Area*/


/* start Project Area */
.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--primary-font);
    text-transform: uppercase;
}
.site-main .project-area .button-group button + button {
    padding-left: 3rem;
}

.site-main .project-area .gird .our-project > .title h4 {
    font: normal 700 25px/12px var(--primary-font);
}

.site-main .project-area .gird .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1a1f1f);
}
/* end Project Area */






