html,
body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/*  CSS VARIABLES */

:root {
    --primary-color-dark: #6f86d6;
    --primary-color-light: #48c6ef;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* Font family */
    --primary-font: 'Raleway', cursive;
}